@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

 body{

    font-family: 'Poppins', sans-serif;
    background-color: #161D25;
    line-height: 1.5;
 }

 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
 }

 .header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 20px;
    position: relative;
    text-align: center;
}

img {
    max-width: 100%;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.logo{
    color: #e28000;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    padding: 20px;
    
}
.menu .navbar ul li a:hover{
    color: #e28000;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;

}

.menu label{
    cursor: pointer;
    display: none;
}

.header-text{
    width: 100%;
    text-align: center;
}

.header-text h1{
    color: #FFFFFF;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-text span{
    color: #e28000;
}

.header-text p {
    font-size: 16px;
    color: #D5D5D5;
    padding: 0 200px;
    margin-bottom: 25px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.btn-1 {
    display: inline-block;
    background-color: #e28000;
    padding: 13px 25px;
    width: 150px;
    margin: 0 10px;
    border-radius: 25px;
    color: #FFFFFF;
}

.btn-1 :hover{
    background-color: #e28000;
}

.Servicios{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}
.Service {
    text-align: center;
    padding: 35px;
}
.Service img{
    width: 50px;
    height: 50px;
}

.Service h3{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #D5D5D5;
}

.abaut{
    padding: 50px 0;
}
.abaut-content{
    display: flex;
    align-items: center;
}
.abaut-text{
    flex-basis: 50%;
    padding-right: 35px;
}
span {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e28000;
}
h2{
    font-size: 35px;
    color: #FFFFFF;
    margin: 15px 0;
    line-height: 1;
}

hr{
    border: 1px solid #e28000;
    width: 10%;
    margin-bottom: 30px;
}
.abaut-img{
    flex-basis: 50%;
    text-align: center;
}
.abaut-img img{
    width: 500px;
    border-radius: 25px;   
}

.testimonial{
    padding: 50px 0;
    text-align: center;
}

.testimonial-content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.testimonial-1{
    flex-basis: calc(50% - 25px);
    background-color: #24272E;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.testimonial-1 h4{
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 15px;
}
.testimonial-1 p{
    font-size: 15px;
    margin-bottom: 10px;
}

.face {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #e28000;
    margin-bottom: 15px;
}

.information{
    padding:  50px 0 100px 0;
    display: flex;
}

.information-text{
    flex-basis: 50%;
    margin-left: 25px;
}

.f1, .f2 {
    width: 550px;
    
}

input {
    display: block;
    padding: 17px;
    background-color: transparent;
    border: 1px solid #979797;
    width: 350px;
    margin-bottom: 25px;
    font-size: 17px;
    color: #FFFFFF;
}

::placeholder {
    color: #898989;
}
.office {

    margin: 50px;
    display: flex;
    align-items: center;
}

.office h3 {
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
    color: #FFFFFF;
}



.footer{
    padding: 50px 0;
    background-color: #191A1f;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-transform: uppercase;
}

link a{
    font-size: 17px;
    color: #D4D4D4;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #e28000;
}



/* Estilos para el footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #161D25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

/* Estilos para los iconos en el footer */
.footer-icons a {
    font-size: 24px;
    color: #e28000;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

/* Estilos para el icono de volver al inicio */
.scroll-top {
    color: #fff;
    cursor: pointer;
}





@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #24272E;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }  
    .menu:checked ~ .navbar {
        display: initial;
    } 


    .header{
        padding: 50px 30px;
    }

    .header-text{
        text-align: center;
        padding: 0;
    }
    .header-text p{
        padding: 0;
    }
    .Servicios{
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .abaut{
        padding: 30px;
    }
    .hr{
        display: none;
    }
    .abaut-content{
        flex-direction: column;
        text-align: center;
    }
    .abaut-text{
        padding-bottom: 25px;
    }

    .testimonial{
        padding: 30px;
    }
    .testimonial-content{
        flex-direction: column;
    }
    .testimonial-1{
        margin-bottom: 25px;
    }
    .information{
        padding: 30px;
        flex-direction: column;
    }
    .f1, .f2{
        width: 100%;
    }

    .information-text{
        order: -2;
        margin: 0 0 20px 0;
        text-align: center;

    }
    form {
        width: 100%;
    }
    input{
        width: 100%;
    }

    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }

}